# ALWAYS REMEMBER TO UPDATE ALL YOUR SERVICES AND SERVER, TO HAVE THE MAXIMUM STABILITY AND SECURITY POSSIBLE:
# YOU CAN UPDATE YOUR CONTAINERS, ENTERING IN THE ROUTE TO THE DOCKER_COMPOSE.YAML O COMPOSE.YAML, AND USE THE COMMAND: "docker pull"
# FOR THE SERVER USE YOUR PACKAGE MANAGER OF THE LINUX DISTRO OR WINDOWS ISO FOR SERVERS.


# DISTROS GENERAL PACKAGE MANAGERS:
# Debian and Ubuntu based = apt
# Arch or KDE based = pacman
# Fedora based = dnf

# ------------------------

# REQUIRED SERVICES FOR THE BOT TO BOOT
IP=     # Your server ip

OPENROUTER_API_KEY=   # Found in the openrouter web
GROQ_API_KEY=         # Found in the groq web, optional now, but i reccomend to have it

DATA_DIR= # Path to the data directory, example: /srv/nas/assistant/data/

DISCORD_TOKEN=   # Discord token created from the discord.dev portal, if you don't use discord leave it like that
DISCORD_CANAL_ID= # Discord Channel ID you can get it activating the developer options and use left click EXACTLY in the channel you want and select the copy id option, if you don't use discord leave it like that
DISCORD_DM_ID= # # Discord DM ID you can get it activating the developer options and use left click EXACTLY in the channel you want and select the copy DM id option, it is used to send you the actual status that sends you in the hour you put on the vigilant, if you don't use discord leave it like that

# ------------------------

# OPTIONAL NAS services:

RADARR_KEY=     # Radarr API key, found at http://YOUR_IP:7878/settings/general
SONARR_KEY=      # Sonarr API key, found at http://YOUR_IP:8989/settings/general
PROWLARR_KEY=    # Prowlarr API key, found at http://YOUR_IP:9696/settings/general
JELLYFIN_KEY=    # Jellyfin API key, found at http://YOUR_IP:8096/web/#/dashboard/keys and in the keys settings, create one in the button with the + New api key and name it as you want, preferebly "Jarvis", then copy the key and paste it into here
JELLYSEERR_KEY=  # Jellyseerr / Seerr, found at http://YOUR_IP:5055/settings/main
QBIT_USER=       # Your qBit user created for the server, for the WebUI, found at: http://YOUR_IP:8081
QBIT_PASS=       # Your qBit password created for the server, for the WebUI.
HA_TOKEN=        # Your Home assistant api key found at: http://YOUR_IP:8123/profile/security in the button that says Create token at the very end, in the category: large access duration tokens
N8N_USER=        # Your n8n user, used for your local server
N8N_PASS=        # Your n8n password, used for your local server
FB_USER=         # Your filebrowser user, used for your local server
FB_PASS=         # Your filebrowser password, used for your local server


# ------------------------

# YOU ARE GOING TO BE VERY TIRED SEARCHING THE KEYS.
# AND THATS IT, I HOPE YOU LIKE MY PROJECT AND GIVE IT A STAR, I ADMIT THAT IT IS HALF MADE WITH VIBE CODING, BUT I ENJOYED THE PROCCESS AND LEARNED A BIT ABOUT THE AI WORLD. I HOPE YOU USE IT AND ENJOY IT LIKE ME CREATING IT.